@use "utils/a11y";
@use "vendor/reset";

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: rem(16px);
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgb(255 255 255 / 87%);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

.intro {
  text-align: center;
  margin-top: 50px;
}

.board-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .board-square {
    border: 1px solid lightgray;
    padding: 20px;
  }
}

.terminal-parent {
  display: flex;
  justify-content: center;

  .terminal {
    position: relative;
    width: 600px;
    height: 300px;
    margin: 10px;
    background: #02402D;
    background: radial-gradient(circle farthest-corner at center center, #02402D 0%, #011710 100%);
    -moz-webkit-background-clip: text;
    color: lightgrey;
    border: 2px outset grey;

    .user-input {
      background-color: transparent;
      // border: none;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}

